* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --floral-white: #fffcf2ff;
    --timber-wolf: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --eerie-black-translucent: rgba(37, 36, 34, 0.3);

    --color-primary: hsl(263, 50%, 90%);
    --color-secondary: hsl(263, 50%, 10%);
    --color-tertiary: hsl(323, 80%, 20%);
    --color-accent: hsl(203, 80%, 20%);

    --filter-white: invert(100%) sepia(99%) saturate(0%) hue-rotate(197deg) brightness(105%) contrast(100%);

    font-family: Roboto, sans-serif;
    color: var(--floral-white);
}

body {
    background-color: var(--timber-wolf);
    height: 100dvh;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
    background-color: var(--black-olive);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 5rem auto;
}

header {
    grid-row: span 1;
    grid-column: 1 / -1;
    padding: 1rem;
    background-color: var(--color-tertiary);

    display: flex;
    align-items: center;

    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
}

.side-bar {
    grid-column: span 1;
    padding: 1rem;
    background-color: var(--color-secondary);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    font-size: 1.5rem;
}

.side-bar>div {
    flex: 1;
}

.projects-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-list {
    margin-top: 1rem;
    /* padding-left: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-bar button {
    font-size: 1rem;
    height: auto;
    width: auto;
}

#main-container {
    grid-column: 2 / -1;
    padding: 1rem;
    background-color: var(--color-primary);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: scroll;
}

/* Item styles */
.todo-item {
    /* flex: 1; */
    padding: 1rem;
    background-color: var(--color-accent);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.button-container>button {
    font-size: 1.2rem;
}

.priority-indicator {
    padding: 1rem;
}

.priority-low {
    background-color: lightblue;
}

.priority-medium {
    background-color: lightgreen;
}

.priority-high {
    background-color: lightcoral;
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    justify-content: center;
    align-items: center;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h1 {
    margin: 0;
    font-size: 3rem;
}

.modal-content {
    background-color: var(--black-olive);
    padding: 1.5rem;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Form style */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.form-group-inline {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-footer {
    display: flex;
    justify-content: center;
}

input[type="text"],
input[type="date"],
select,
textarea {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    width: 100%;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

textarea {
    resize: none;
}

/* Button styles */
.btn {
    text-align: center;
    font-size: 1.7rem;
    color: white;
    background-color: var(--eerie-black);
    border: none;
    border-radius: 3rem;
    padding: 0.5rem;
    cursor: pointer;

    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
}

.default-btn {
    width: 10rem;
    height: 3rem;
}

.full-btn {
    width: 100%;
    height: 100%;
}

.close-btn {
    background: none;
    height: auto;
    width: auto;
    font-size: 2rem;
}

.selected-project {
    background-color: var(--eerie-black);
    font-weight: 600;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

#project-btn {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    cursor: pointer;
}

#project-btn:hover {
    background-color: var(--black-olive);
}

#project-btn>p {
    flex: 1;
    /* pointer-events: none; */
}

#project-btn>*:nth-child(-n+2) {
    pointer-events: none;
}

/* Icon style */
.icon-btn {
    transform: scale(1);
    transition: transform 0.3s ease;

    will-change: transform;
    backface-visibility: hidden;
    transform-origin: center;
}

.icon-btn:hover {
    transform: scale(1.2);
}

.icon-btn:active {
    transform: scale(0.9);
}

.icon,
.icon-large {
    filter: var(--filter-white);
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-large {
    width: 3rem;
    height: 3rem;
}